
/* index page */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: red;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
	  body {
		  background-color: #4C5454
	  }
	  div.container {
		  width: 100%;
		  border: 1px solid gray;
	  }
	  header, footer {
		  padding: 1em;
		  color: #FFFFFF;
		  background-color: grey;
		  clear: left;
		  text-align: center;
	  }
	  nav {
		  float: left;
		  max-width: 160px;
		  margin: 0;
		  padding: 1em;
	  }
	  article {
		  margin-left: 170px;
		  border-left: 1px solid black;
		  padding: 1em;
		  overflow: hidden;
	  }
	  .Westbay-Title {
		  color: #FFFFFF;
		  font-family: "Times New Roman", Times, serif;
	  }
	  #Welcome-Westbay {
		  color: #FFFFFF;
		  font-family: "Times New Roman", Times, serif;
	  }
	  #Summary-Para {
		  color: black;
		font-family: "Times New Roman", Times, serif;
	  }
	  #To-Pages {
		  color: black;
		  font-family: "Times New Roman", Times, serif;
	  }
	  #intro-para {
		  background: #E2E2E2;
		  font-family: "Times New Roman", Times, serif;
	  }
		  a:link {
			  color:black
		  }
		  a:visited{
			  color: red
		  }
		  a:hover{
			  color:Red
		  }
		  a:active{
			  color:dimgrey
		  }

/* Hoodie Page style & Shoe Page Style*/
	  #Sub-heading {
		  color:white;
		  font-family: "Times New Roman", Times, serif;
	  }
	  #Sub-heading2 {
		  color:white;
		  font-family: "Times New Roman", Times, serif;
	  }
	  .Cat-Two {
		  color: black;;
		  text-align: center;
		  font-family: "Times New Roman", Times, serif;;
	  }
	  .Cat-Four {
		  color:black;
		  text-align: center;
		  font-family: "Times New Roman", Times, serif;;
	  }
	  .Cat-Two1{
		  color:black;
		  font-family: "Times New Roman", Times, serif;
	  }
	  .Cat-Four1{
		  color:black;
		  font-family: "Times New Roman", Times, serif;
	  }
	  img {
    	display: block;
    	margin: auto;
    	width: 40%;
	  }
	  .Info-Center {
		  text-align: center;
		  font-family: "Times New Roman", Times, serif;
	  }
	  
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #F34213;
    color: white;
	text-align:center;
}
/* Contact Us page */
	  #Welcome-Westbay {
		  color: #FFFFFF;
		  font-family: "Times New Roman", Times, serif;
	  }
	  .Sub-heading2 {
		  color: white;
		  font-family: "Times New Roman", Times, serif;
	  }
		#Sub-heading3 {
			color:#00A7E1;
			font-family: "Times New Roman", Times, serif;
		}
	input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #00A7E1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #F34213}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}