
/* index page */
	  body {
		  background-color: #4C5454
	  }
	  .Westbay-Title {
		  color: #FFFFFF;
		  font-family: "Times New Roman", Times, serif;
	  }
	  #Welcome-Westbay {
		  color: #FFFFFF;
		  font-family: "Times New Roman", Times, serif;
	  }
	  #Summary-Para {
		  color: #00A7E1;
		font-family: "Times New Roman", Times, serif;
	  }
	  #To-Pages {
		  color: #F34213;
		  font-family: "Times New Roman", Times, serif;
	  }
	  #intro-para {
		  background: #E2E2E2;
		  font-family: "Times New Roman", Times, serif;
	  }
		  a:link {
			  color:black
		  }
		  a:visited{
			  color: lightblue
		  }
		  a:hover{
			  color:red
		  }
		  a:active{
			  color:blue
		  }

/* Hoodie Page style & Shoe Page Style*/
	  #Sub-heading {
		  color:white;
		  font-family: "Times New Roman", Times, serif;
	  }
	  #Sub-heading2 {
		  color:white;
		  font-family: "Times New Roman", Times, serif;
	  }
	  .Cat-Two {
		  color:white;
		  text-align: center;
		  font-family: "Times New Roman", Times, serif;;
	  }
	  .Cat-Four {
		  color:white;
		  text-align: center;
		  font-family: "Times New Roman", Times, serif;;
	  }
	  .Cat-Two1{
		  color:white;
		  font-family: "Times New Roman", Times, serif;
	  }
	  .Cat-Four1{
		  color:white;
		  font-family: "Times New Roman", Times, serif;
	  }
	  img {
    	display: block;
    	margin: auto;
    	width: 40%;
	  }
	  .Info-Center {
		  text-align: center;
		  font-family: "Times New Roman", Times, serif;
	  }
	  
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #F34213;
    color: white;
	text-align:center;
}
/* Contact Us page */
	  #Welcome-Westbay {
		  color: #FFFFFF;
		  font-family: "Times New Roman", Times, serif;
	  }
	  .Sub-heading2 {
		  color: white;
		  font-family: "Times New Roman", Times, serif;
	  }
		#Sub-heading3 {
			color:#00A7E1;
			font-family: "Times New Roman", Times, serif;
		}
	input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #00A7E1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #F34213}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}